<article>
  <h1 id="title">All Listings</h1>

  <div class="demo-grid-1 mdl-grid">

    <% @search_results.each do |result| %>

      <div class="mdl-cell mdl-cell--4-col">
        <div id="whole-card" class="mdl-card mdl-shadow--2dp demo-card-wide">
          <div class= "mdl-card__title">
            <h3 class="mdl-card__title-text"><%= result.name %></h3>
          </div>
          <div class="listings-card">
            <%= image_tag result.image, class: "listing-index-card" %>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <%= link_to "View Listing", listing_path(result.id), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
          </div>
        </div>
      </div>

    <% end %>

  </div>
</article>
