.search-area {
  background-color: rgba(0,0,0,.7);
  padding: 40px 0 27px 0;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.catchphrase {
  font-size: 1.3em;
  font-weight: bold;
  text-transform: uppercase;
}

.home-picture h2 {
  // Circular,"Helvetica Neue",Helvetica,Arial,sans-serif
  // font-family: "Circular, Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
}

.home-picture {
  position: relative;
  padding-top: 220px;
  text-align: center;
  height: 325px;
  background: transparent image-url("homepage.png") no-repeat center -50px;
  background-size: cover;
  -moz-box-shadow:    0px 0px 40px 15px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 40px 15px rgba(0, 0, 0, 0.6);
  box-shadow:         0px 0px 40px 15px rgba(0, 0, 0, 0.6);
}

#logo {
  text-decoration: none;
}

#nav-bar h1 {
  margin: 0;
  letter-spacing: 0.02em;
  font-family: 'Yellowtail', cursive;
  font-size: 3em;
  font-weight: 200;
}

#nav-bar .mdl-layout__header-row {
  margin-bottom: 10px;
}


#nav-bar .mdl-layout__header-row .mdl-navigation__link {
  padding: 0;
}

nav#main-links {
  right: 0;
  position: absolute;
}

#nav-bar {
  position:absolute;
  background-color: rgba(0,0,0,.4);
  padding-top: 10px;
  -moz-box-shadow:    inset 0px 5px 20px 0px rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0px 5px 20px 0px rgba(0,0,0,0.3);
  box-shadow:         inset 0px 5px 20px 0px rgba(0,0,0,0.3);
}

.host-link {
  color: white;
  background-color: rgb(0, 122, 135);
  font-size: 1em;
  text-decoration: none;
  height: 20px;
  padding: 4px 15px 4px 15px;
  border-bottom-color: rgb(0, 79, 88);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.host-link:hover {
  background-color: rgb(0, 154, 171);
  text-decoration: none;
}

.navbar-link {
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    height: 75px;
    display: block;
    padding: 9px 12px 0 12px;
}

.navbar-link, .navbar-link:visited, .navbar-link:link,
#logo, #logo:visited, #logo:link, .host-link, .host-link:visited, .host-link:link {
    color: white;
}

.nav-bar-link:hover {
  background-color: rgba(0,0,0,.4);
  text-decoration: none;
}

.username-link, .username-link:visited, .username-link:link {
  // margin-left: 15px;
  // border-left: 2px solid rgba(0, 0, 0, .4);
  // border-right: 2px solid rgba(0, 0, 0, .4);
  // color: white;
  // font-size: 1.1em;
  // text-decoration: none;
  // height: 75px;
  // display: block;
  // padding: 9px 13px 0 13px;
}

.username-link:hover {
  background-color: rgba(0,0,0,.4);
}